@font-face {
	font-family: 'podlove';
	src:url('../font/$1podlove.eot?5yqmx2');
	src:url('../font/$1podlove.eot?#iefix5yqmx2') format('embedded-opentype'),
		url('../font/$1podlove.woff?5yqmx2') format('woff'),
		url('../font/$1podlove.ttf?5yqmx2') format('truetype'),
		url('../font/$1podlove.svg?5yqmx2#podlove') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="pwp-"], [class*=" pwp-"] {
	font-family: 'podlove';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pwp-arrow-down:before {
	content: "\e600";
}
.pwp-arrow-left:before {
	content: "\e601";
}
.pwp-arrow-right:before {
	content: "\e602";
}
.pwp-arrow-select:before {
	content: "\e603";
}
.pwp-arrow-up:before {
	content: "\e604";
}
.pwp-close-circled:before {
	content: "\e605";
}
.pwp-marker:before {
	content: "\e606";
}
.pwp-minus-circled:before {
	content: "\e607";
}
.pwp-more-circled:before {
	content: "\e608";
}
.pwp-plus-circled:before {
	content: "\e609";
}
.pwp-speed-slow:before {
	content: "\e60a";
}
.pwp-speed-normal:before {
	content: "\e60b";
}
.pwp-speed-fast:before {
	content: "\e60c";
}
.pwp-speed-double:before {
	content: "\e60d";
}
.pwp-download:before {
	content: "\e60e";
}
.pwp-embed:before {
	content: "\e60f";
}
.pwp-location:before {
	content: "\e610";
}
.pwp-pictures:before {
	content: "\e611";
}
.pwp-shownotes:before {
	content: "\e612";
}
.pwp-transcript:before {
	content: "\e613";
}
.pwp-upload:before {
	content: "\e614";
}
.pwp-web-profile:before {
	content: "\e615";
}
.pwp-twitter:before {
	content: "\e616";
}
.pwp-soundcloud:before {
	content: "\e617";
}
.pwp-rss:before {
	content: "\e618";
}
.pwp-podlove:before {
	content: "\e619";
}
.pwp-mail:before {
	content: "\e61a";
}
.pwp-itunes:before {
	content: "\e61b";
}
.pwp-apple:before {
	content: "\e61e";
}
.pwp-adn-alpha:before {
	content: "\e61f";
}
.pwp-volume:before {
	content: "\e620";
}
.pwp-share3:before {
	content: "\e621";
}
.pwp-share2:before {
	content: "\e622";
}
.pwp-share1:before {
	content: "\e623";
}
.pwp-mute:before {
	content: "\e624";
}
.pwp-search:before {
	content: "\e625";
}
.pwp-incoming:before {
	content: "\e626";
}
.pwp-outgoing:before {
	content: "\e627";
}
.pwp-insert:before {
	content: "\e628";
}
.pwp-info-circled:before {
	content: "\e629";
}
.pwp-contributors:before {
	content: "\e62a";
}
.pwp-chapters:before {
	content: "\e62b";
}
.pwp-stop:before {
	content: "\e62c";
}
.pwp-speed-plus:before {
	content: "\e62d";
}
.pwp-speed-minus:before {
	content: "\e62e";
}
.pwp-rewind:before {
	content: "\e62f";
}
.pwp-cannot-play-circled:before {
	content: "\e630";
}
.pwp-play:before {
	content: "\e631";
}
.pwp-play-circled:before {
	content: "\e632";
}
.pwp-pause:before {
	content: "\e633";
}
.pwp-pause-circled:before {
	content: "\e634";
}
.pwp-next-speaker:before {
	content: "\e635";
}
.pwp-previous-speaker:before {
	content: "\e636";
}
.pwp-back-30:before {
	content: "\e637";
}
.pwp-forward-30:before {
	content: "\e638";
}
.pwp-back-15:before {
	content: "\e639";
}
.pwp-forward-15:before {
	content: "\e63a";
}
.pwp-fast-forward:before {
	content: "\e63b";
}
.pwp-previous-chapter:before {
	content: "\e63c";
}
.pwp-next-chapter:before {
	content: "\e63d";
}
.pwp-code:before {
	content: "\e646";
}
.pwp-google-drive:before {
	content: "\e647";
}
.pwp-instagram:before {
	content: "\e648";
}
.pwp-youtube:before {
	content: "\e649";
}
.pwp-vimeo:before {
	content: "\e64b";
}
.pwp-flickr:before {
	content: "\e64c";
}
.pwp-dribbble:before {
	content: "\e64d";
}
.pwp-deviantart:before {
	content: "\e64e";
}
.pwp-steam:before {
	content: "\e64f";
}
.pwp-wordpress:before {
	content: "\e650";
}
.pwp-blogger:before {
	content: "\e651";
}
.pwp-tumblr:before {
	content: "\e652";
}
.pwp-skype:before {
	content: "\e653";
}
.pwp-reddit:before {
	content: "\e654";
}
.pwp-linkedin:before {
	content: "\e655";
}
.pwp-stackoverflow:before {
	content: "\e656";
}
.pwp-pinterest:before {
	content: "\e657";
}
.pwp-xing:before {
	content: "\e658";
}
.pwp-flattr:before {
	content: "\e659";
}
.pwp-paypal:before {
	content: "\e65a";
}
.pwp-cc:before {
	content: "\e63e";
}
.pwp-cc-by:before {
	content: "\e63f";
}
.pwp-cc-nc:before {
	content: "\e640";
}
.pwp-cc-nc-eu:before {
	content: "\e641";
}
.pwp-cc-nc-jp:before {
	content: "\e642";
}
.pwp-cc-sa:before {
	content: "\e643";
}
.pwp-cc-nd:before {
	content: "\e644";
}
.pwp-cc-pd:before {
	content: "\e645";
}
.pwp-instagram2:before {
	content: "\e64a";
}
